@media screen and (max-width: 992px) {
  header {
    text-align: center;
  }
}

@media screen and (min-width: 991px) {
  header > h1 {
    text-align: left;
  }
  header > h3 {
    text-align: right;
  }
}
